body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Anonymous Pro', monospace;
  font-size: 15px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type=submit] {
  padding:5px 15px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.2em;
}

.delete-btn {
    color: #ee2222;
}

.cancel-btn {
    color: #2222ee;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 15px;
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  text-align: center;
  transition: min-height 0.3s;
}

.header__title {
  font-weight: 700;
  font-size: 2.5em;

  margin: 0.75em 0.25em;
  display: inline-block;
  color: #212121;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: 0;
}

.nav__list {
  width: 60%;
  padding: 0;
  margin: 0;
  float: right;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  line-height: 24px;
  padding: 15px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.front {
  width: 100%;
  padding: 5em;
  text-align: center;
}

.front a {
  font-size: 2em;
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.signup {
  position: relative;
  width: 100%;
  padding: 5em;
  text-align: center;
}

.signup h1 {
  font-size: 2em;
}

.signup table {
  float: center;
  padding: 30px;
  width: 100%;
}

.signup-tr {
  height: 30px;
  margin-bottom: 5px;
}

.signup-td {
  width: 33%;
  padding: 2px;
  margin: 0px;
}

.signup-label {
  font-size: 15px;
  text-align: right;
  padding-right: 0px;
}

.signup-input {
  width: 100%;
  height: 25px;
  float: left;
  font-size: 15px;
}

.login {
  position: relative;
  width: 100%;
  padding: 5em;
  text-align: center;
}

.login h1 {
  font-size: 2em;
}

.login table {
  width: 100%;
  float: center;
  padding: 30px;
}

.login-tr {
  height: 30px;
  margin-bottom: 5px;
}

.login-td {
  width: 50%;
  height: 30px;
  margin-bottom: 5px;
}

.login-label {
  width: 50%;
  font-size: 15px;
  text-align: right;
  padding-right: 0px;
}

.login-input {
  height: 25px;
  width: 200px;
  font-size: 15px;
  float: left;
}

.error {
  width: 500px;
  color: red;
  float: left;
  text-align: left;
}

.error-short {
  width: 250px;
}

.error-long {
  width: 500px;
}

.welcome {
  width: 100%;
  padding: 5em;
  font-size: 1.5em;
  text-align: center;
  color: #302c4c;
}

.blog {
  width: 100%;
  padding: 5em;
  color: #302c4c;
  text-align: left;
}

.post {
  margin-top: 15px;
  padding-bottom: 15px;
}

.post a {
  text-decoration: none;
}

.post-heading {
  position: relative;
  border-bottom: 1px solid #666;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
}

.post-date {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #999;
}

.post-content {
  margin-top: 5px;
}

.newpost-heading {
  position: relative;
  border-bottom: 1px solid #666;
  text-align: center;
  margin-bottom: 10px;
}

.post-tr {
  height: 30px;
  margin-bottom: 5px;
}

.post-label {
  font-size: 15px;
  text-align: right;
  vertical-align: top;
  padding-right: 0px;
}

.post-tr input {
  width: 500px;
  height: 24px;
  font-size: 15px;
}

.post-edit {
    width: 50%;
    float: right;
}

.comments {
  width: 100%;
  padding: 0em 5em 1em 5em;
  color: #302c4c;
  text-align: left;
}

.comment-line {
  position: relative;
  border-bottom: 1px solid #666;
}

.comment-author {
  font-size: 15px;
}

.comment-content {
  position: absolute;
  left: 20%;
  bottom: 0px;
  font-size: 15px;
}

.comments input[type=text] {
    width: 500px;
}

.comments input[type=submit] {
  padding:3px 10px;
  background:#ddd;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.0em;
}

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}
