body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Anonymous Pro', monospace;
  font-size: 15px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.2em;
}

textarea {
    width: 500px;
    height: 400px;
    font-size: 15px;
}

/*
 *
 * Common
 * 
 */

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  text-align: center;
  transition: min-height 0.3s;
}

.header__title {
  font-weight: 700;
  font-size: 2.5em;

  margin: 0.75em 0.25em;
  display: inline-block;
  color: #212121;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: 0;
}

.nav__list {
  width: 60%;
  padding: 0;
  margin: 0;
  float: right;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;

  text-align: right;
  line-height: 24px;
  padding: 15px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.front {
  width: 100%;
  padding: 5em;
  text-align: center;
}

.front a {
  font-size: 2em;
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.signup {
  position: relative;
  width: 100%;
  padding: 5em;
  text-align: center;
}

.signup h1 {
  font-size: 2em;
}

.signup table {
  float: center;
  padding: 30px;
}

.signup-tr {
  height: 30px;
  margin-bottom: 5px;
}

.signup-label {
  font-size: 15px;
  text-align: right;
  padding-right: 0px;
}

.signup-input {
  height: 25px;
  float: left;
}

.login {
    position: relative;
  width: 100%;
  padding: 5em;
  text-align: center;
}

.login h1 {
  font-size: 2em;
}

.login table {
  float: center;
  padding: 30px;
}

.login-tr {
  height: 30px;
  margin-bottom: 5px;
}

.login-td {
    width: 50%;
  height: 30px;
  margin-bottom: 5px;
}

.login-label {
    width: 50%;
  font-size: 15px;
  text-align: right;
  padding-right: 0px;
}

.login-input {
    height: 25px;
    width: 200px;
    font-size: 15px;
  float: left;
}

.error {
  width: 500px;
  color: red;
  float: left;
  text-align: left;
}

.welcome {
  width: 100%;
  padding: 5em;
  font-size: 1.5em;
  text-align: center;
  color: #302c4c;
}

.blog {
  width: 100%;
  padding: 5em;
  color: #302c4c;
  text-align: left;
}

.post {
    margin-top: 15px;
    padding-bottom: 15px;
}

.post a {
    text-decoration: none;
}

.post-heading {
    position: relative;
    border-bottom: 1px solid #666;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
}

.newpost-heading {
    position: relative;
    border-bottom: 1px solid #666;
    text-align: center;
    margin-bottom: 10px;
}

.post-tr {
  height: 30px;
  margin-bottom: 5px;
}

.post-label {
  font-size: 15px;
  text-align: right;
  vertical-align: top;
  padding-right: 0px;
}

.post-tr input {
    width: 500px;
    height: 24px;
    font-size: 15px;
}
/*
 *
 * Top News
 *
 */

.top-news {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
  padding: 1.5em inherit;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

.scores {
  padding-top: 1em;
  flex-grow: 1;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em; 
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.scores__table tr:nth-child(1) th:nth-child(3) {
  text-align: right;
}

.scores__table tr:nth-child(1) th:nth-child(5) {
  text-align: left;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(1),
.scores__table td:nth-child(2) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

.weather {
  flex-grow: 1;
  padding: 1em;
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__ {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

.weather__today__image {
  vertical-align: middle
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


/*
 *
 * Recent News
 *
 */

.recent-news {
  flex-grow: 1;
  clear: both;
  padding: 1em;
}

.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 100px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
  padding: 1.5em inherit;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}
