{% extends "layout.html" %}

{% block content %}
<main>
  <section class="blog">
    <div class="newpost-heading">
      <h1>New Post</h1>
    </div>
    <form method="post">
      <table>
        <tbody>
          <tr class="post-tr">
            <td class="post-label">Subject</td>
            <td>
              <input type="text" name="subject" value="{{subject}}">
            </td>
          </tr>
          <tr class="post-tr">
            <td class="post-label">Content</td>
            <td>
              <textarea name="content">{{content}}</textarea>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><div class="error">{{error}}</div></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </section>
</main>
{% endblock %}
