{% extends "layout.html" %}

{% block content %}
<main>
  <section class="blog">
    <div class="post">
      <div class="post-heading">
        <div class="post-title">
          {{blog.subject}}
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          {{blog.author.username}},
          like: {{blog.upvotes}}
          {% if blog.author.username != username %}
          <a href="/blog/upvote/{{blog.key().id()}}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
          {% endif %}
        </div>
        <div class="post-date">{{blog.created.strftime('%b %d, %Y')}}</div>
      </div>
      <pre class="post-content">{{blog.content}}</pre>
    </div>
    {% if blog.author.username == username %}
    <div class="post-edit">
      <form method="post">
        {% if op and op == "delete-confirm" %}
        <input class="delete-btn" type="submit" name="submit" value="Confirm Delete">
        {% else %}
        <input class="delete-btn" type="submit" name="submit" value="Delete">
        <input type="submit" name="submit" value="Edit">
        {% endif %}
      </form>
    </div>
    {% endif %}
  </section>
  <section class="comments">
    <h3>Comments:</h3>
    {% for comment in post_comments %}
    <div class="comment-line">
      <div class="comment-author">{{comment.author.username}} says:</div>
      <div class="comment-content">{{comment.content}}</div>
    </div>
    {% endfor %}
    {% if username %}
    <b>New comment:</b>
    <form method="post">
      <input type="text" name="comment">
      <input type="submit" name="submit" value="Add">
    </form>
    {% endif %}
  </section>
</main>
{% endblock %}
